@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/User_LayoutPage1.cshtml";
}


<div class="vc_row wpb_row vc_inner vc_row-fluid margin-top-30">
					<div class="wpb_column vc_column_container vc_col-sm-6">
						<div class="wpb_wrapper">
							<div class="wpb_single_image wpb_content_element vc_align_left   cs-lightbox">
								<div class="wpb_wrapper">
			
									<a href="image/image_04.jpg"  target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="570" height="380" src="../image/image_04-390x260.jpg" class="vc_single_image-img attachment-gallery-thumb" alt="image_04" /></div></a>
								</div>
							</div>
						</div>
					</div>
					<div class="wpb_column vc_column_container vc_col-sm-6">
						<div class="wpb_wrapper">
							<div class="wpb_single_image wpb_content_element vc_align_left   cs-lightbox">
								<div class="wpb_wrapper">
			
									<a href="image/image_09.jpg" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="570" height="380" src="../image/image_09-570x380.jpg" class="vc_single_image-img attachment-gallery-thumb" alt="image_09" /></div></a>
								</div>
							</div>
						</div>
					</div>
				</div>

<div class="vc_row wpb_row vc_inner vc_row-fluid margin-top-30">
					<div class="wpb_column vc_column_container vc_col-sm-6">
						<div class="wpb_wrapper">
							<div class="wpb_single_image wpb_content_element vc_align_left   cs-lightbox">
								<div class="wpb_wrapper">
			
									<a href="image/image_08.jpg" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="570" height="380" src="../image/image_08-570x380.jpg" class="vc_single_image-img attachment-gallery-thumb" alt="image_08" /></div></a>
								</div>
							</div>
						</div>
					</div>
					<div class="wpb_column vc_column_container vc_col-sm-6">
						<div class="wpb_wrapper">
							<div class="wpb_single_image wpb_content_element vc_align_left   cs-lightbox">
								<div class="wpb_wrapper">
			
									<a href="image/image_02.jpg" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="570" height="380" src="../image/image_02-480x320.jpg" class="vc_single_image-img attachment-gallery-thumb" alt="image_02" /></div></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				

<div class="vc_row wpb_row vc_inner vc_row-fluid margin-top-30">
					<div class="wpb_column vc_column_container vc_col-sm-6">
						<div class="wpb_wrapper">
							<div class="wpb_single_image wpb_content_element vc_align_left   cs-lightbox">
								<div class="wpb_wrapper">
			
									<a href="image/image_06.jpg" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="570" height="380" src="../image/image_06-390x260.jpg" class="vc_single_image-img attachment-gallery-thumb" alt="image_06" /></div></a>
								</div>
							</div>
						</div>
					</div>
					<div class="wpb_column vc_column_container vc_col-sm-6">
						<div class="wpb_wrapper">
							<div class="wpb_single_image wpb_content_element vc_align_left   cs-lightbox">
								<div class="wpb_wrapper">
			
									<a href="image/image_10.jpg" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="570" height="380" src="../image/image_10.jpg" class="vc_single_image-img attachment-gallery-thumb" alt="image_10" /></div></a>
								</div>
							</div>
						</div>
					</div>
				</div>


