@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/User_LayoutPage1.cshtml";
}

<div style="height:100%; width:100%;margin-left:400px;margin-top:50px;margin-bottom:50px"><h2>Welcome to S-O-FLY Portal!</h2></div>
