@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/User_LayoutPage1.cshtml";
}

<div class="vc_row wpb_row vc_row-fluid page-margin-top"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="wpb_wrapper"><div class="feature-item"><h5>CALL US NOW AT</h5><div class="icon sl-small-phone-circle"></div><p>Mobile: (520) 577 2710<br />
Assistance: (520) 577 2725<br />
Weekdays: (520) 577 7212 </p></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="wpb_wrapper"><div class="feature-item"><h5>S-O-FLY</h5><div class="icon sl-small-location-map"></div><p>BranchOne ABC TOWER<br />
Ahmedabad<br />
</p></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="wpb_wrapper"><div class="feature-item"><h5>24/7 ASSISTANCE</h5><div class="icon sl-small-truck-tow"></div><p></p>
<p>Services consequat luctus at justo auctor metus est donec. Tempus terminal morbi nulla donec elite maecenas.</p>
<p></p></div></div></div></div>


