@{
    ViewBag.Title = "LubeOil";
    Layout = "~/Views/Shared/User_LayoutPage1.cshtml";
}


<div class="vc_row wpb_row vc_row-fluid gray full-width page-header vertical-align-table">
		<div class="vc_row wpb_row vc_inner vc_row-fluid full-width padding-top-bottom-50 vertical-align-cell">
			<div class="vc_row wpb_row vc_inner vc_row-fluid">
				<div class="page-header-left">
					<h1>LUBE OIL AND FILTERS</h1>
				</div>
				<div class="page-header-right">
					<div class="bread-crumb-container">
						<label>YOU ARE HERE:</label>
						<ul class="bread-crumb">
							<li>
								<a href="http://quanticalabs.com/wp_themes/carservice" title="Home">
									HOME								</a>
							</li>
							<li class="separator">
								&#47;
							</li>
							<li>
								LUBE OIL AND FILTERS							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="wpb_wrapper"><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_left   cs-lightbox">
		<div class="wpb_wrapper">
			
			<a href="image/image_011.jpg" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="480" height="320" src="../image/image_011-480x320.jpg" class="vc_single_image-img attachment-big-thumb" alt="image_01" /></div></a>
		</div>
	</div>
</div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="wpb_wrapper">
	<div class="wpb_single_image wpb_content_element vc_align_left   cs-lightbox">
		<div class="wpb_wrapper">
			
			<a href="image/image_09.jpg" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="480" height="320" src="../image/image_09-480x320.jpg" class="vc_single_image-img attachment-big-thumb" alt="image_09" /></div></a>
		</div>
	</div>
</div></div></div><div class="vc_row wpb_row vc_row-fluid page-margin-top"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="wpb_wrapper"><h3 class=" box-header">SERVICE OVERVIEW</h3>
	<div class="wpb_text_column wpb_content_element  margin-top-34">
		<div class="wpb_wrapper">
			<p>We offer a full range of garage services to vehicle owners in Tucson. Our professionals know how to handle a wide range of car services. Whether you drive a passenger car or medium sized truck or SUV, our mechanics strive to ensure that your vehicle will be performing at its best before leaving our car shop. We can help you with everything from an oil change to an engine change. We can handle any problem on both foreign and domestic vehicles.</p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Our professionals know how to handle a wide range of car services. Whether you drive a passenger car or medium sized truck or SUV, our mechanics strive to ensure that your vehicle will be performing at its best.</p>

		</div>
	</div>
<h3 class=" box-header page-margin-top">PRICING</h3>
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<table class="margin-top-40">
	<tbody>
		<tr>
			<td>Front Brakes Repair</td>
			<td>$49.95</td>
		</tr>
		<tr>
			<td>Rear Brakes Repair</td>
			<td>$59.95</td>
		</tr>
		<tr>
			<td>Rear Brakes Shoes</td>
			<td>$65.25</td>
		</tr>
		<tr>
			<td>Axle</td>
			<td>$149.95 Each</td>
		</tr>
		<tr>
			<td>Starters / Alternators</td>
			<td>$225.95 Plus Parts</td>
		</tr>
	</tbody>
</table>
		</div>
	</div>
</div></div></div><div class="vc_row wpb_row vc_row-fluid page-margin-top"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="wpb_wrapper"><h4 class=" box-header">WHY CHOOSE US</h4>
	<div class="wpb_text_column wpb_content_element  margin-top-34">
		<div class="wpb_wrapper">
			<p>We offer a full range of garage services to vehicle owners in Tucson. We can help you with everything from an oil change to an engine change. We can handle any problem on both foreign and domestic vehicles.</p>

		</div>
	</div>
<ul class="list margin-top-20 "><li class="template-bullet "><span>We make auto repair more convenient for you</span></li><li class="template-bullet "><span>We are a friendly and professional <a href="#">group of people</a></span></li><li class="template-bullet "><span>We handle a wide range of <a href="#">car services</a></span></li><li class="template-bullet "><span>Same day service for most repairs and maintenance</span></li><li class="template-bullet "><span>We get the job done right — the first time</span></li></ul></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="wpb_wrapper"><h4 class=" box-header">POPULAR QUESTIONS</h4>
		<ul class="accordion margin-top-40" data-collapsible=no  data-vc-disable-keydown="false" data-active-tab="1">
			
			<li>
				<div id="accordion-using-synthetic"><h3>Should I consider using synthetic oil?</h3></div>
				<div class="clearfix">
				
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Synthetic engine oils are produced through a synthesis process that takes very small molecules and assembles them into larger ones.</p>

		</div>
	</div>

				</div>
			</li> 

			<li>
				<div id="accordion-parts-replacements"><h3>What parts should be replaced?</h3></div>
				<div class="clearfix">
				
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Synthetic engine oils are produced through a synthesis process that takes very small molecules and assembles them into larger ones.</p>

		</div>
	</div>

				</div>
			</li> 

			<li>
				<div id="accordion-track-routine"><h3>How do I keep track of routine?</h3></div>
				<div class="clearfix">
				
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Synthetic engine oils are produced through a synthesis process that takes very small molecules and assembles them into larger ones.</p>

		</div>
	</div>

				</div>
			</li> 

		</ul> </div></div></div>
</div>







